* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item {
  position: relative;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.item-enter-active:first-child {
  margin-top: -38px;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  /* transition: opacity 500s ease-out; */
  transition: opacity 500ms ease-in;
}

.grid-layout {
  margin-top: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
